version: "3.9"

services:
  ros2-core:
    build: ./docker/ros2-core
    container_name: ros2-core
    volumes:
      - ./src:/ros2_ws/src
    environment:
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=10
    network_mode: host
    stdin_open: true
    tty: true

  rosbridge:
    build: ./docker/rosbridge
    container_name: rosbridge
    environment:
      - ROS_DOMAIN_ID=10
    network_mode: host
    depends_on:
      - ros2-core
