services:
  ros2-core:
    build: ./docker/ros2-core
    container_name: ros2-core
    volumes:
      - ./src:/ros2_ws/src
    environment:
      - ROS_DOMAIN_ID=10
    networks:
      - rosnet
    stdin_open: true
    tty: true

  rosbridge:
    build: ./docker/rosbridge
    container_name: rosbridge
    environment:
      - ROS_DOMAIN_ID=10
    networks:
      - rosnet
    depends_on:
      - ros2-core

networks:
  rosnet:
    driver: bridge
