version: "3.9"

services:
  backend:
    build: ./backend
    container_name: autonomous_vehicle_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    env_file:
      - .env
    restart: unless-stopped
