services:
  ros2-core:
    build: ./docker/ros2-core
    container_name: ros2-core
    volumes:
      - ./src:/ros2_ws/src
    environment:
      - ROS_DOMAIN_ID=10
    networks:
      - rosnet
    stdin_open: true
    tty: true
    command: >
          bash -c "
            source /opt/ros/jazzy/setup.bash &&
            cd /ros2_ws &&
            colcon build --merge-install &&
            export AMENT_PREFIX_PATH=\$AMENT_PREFIX_PATH:/ros2_ws/install &&
            source install/setup.bash &&
            ros2 run turtle_sim_web turtle_node
          "

  rosbridge:
    build: ./docker/rosbridge
    container_name: rosbridge
    environment:
      - ROS_DOMAIN_ID=10
    networks:
      - rosnet
    depends_on:
      - ros2-core
    ports:
      - "9090:9090"

networks:
  rosnet:
    driver: bridge
